# The following code is used to clean the spongebob transcripts

In [1]:
# NOTE: I am making all my files as Python 3 compliant as possible.  
# This import forces all print statements to be forward compatible
# for Python 2: use print only as a function
from __future__ import print_function

In [2]:
import re # REGEX
import glob # for import
import pandas as pd
import time

In [71]:
# use glob to create a list of data filenames
data_filenames = glob.glob('../data/*.csv')

# Define list of show titles (in the same order as the data_filenames)
show_titles = ['big-bang-theory', 'friends', 'HIMYM', 'rick-and-morty', 'seinfeld', 'simpsons', 'southpark', 'spongebob']

# combine show & path to a dictionary
show_path_dict = dict(zip(show_titles, data_filenames))
show_path_dict

{'HIMYM': '../data/HIMYM-transcript.csv',
 'big-bang-theory': '../data/big-bang-theory-transcript.csv',
 'friends': '../data/friends-transcript.csv',
 'rick-and-morty': '../data/rick-and-morty-transcript.csv',
 'seinfeld': '../data/seinfeld-transcript.csv',
 'simpsons': '../data/simpsons-transcript.csv',
 'southpark': '../data/southpark-transcript.csv',
 'spongebob': '../data/spongebob-transcript.csv'}

In [72]:
# THIS DIDNT WORK AT ALL
# for show_name in show_path_dict:
#     show_name_str = show_name
#     # create a df with show name for each show in our data folder
#     show_name = pd.read_csv(show_path_dict[show_name_str], index_col=0)
#     # create a 'show' column with the proper store (will need for grouping)
#     show_name['show'] = show_name_str

In [120]:
# show_name

In [55]:
for filename in spam_filenames:
    with open(filename) as f:
        spam_text.append(f.read())

In [59]:
show_path_dict =dict(zip(show_titles, data_filenames))
print(show_path_dict)

8
8
{'HIMYM': '../data/HIMYM-transcript.csv', 'spongebob': '../data/spongebob-transcript.csv', 'seinfeld': '../data/seinfeld-transcript.csv', 'simpsons': '../data/simpsons-transcript.csv', 'big-bang-theory': '../data/big-bang-theory-transcript.csv', 'friends': '../data/friends-transcript.csv', 'southpark': '../data/southpark-transcript.csv', 'rick-and-morty': '../data/rick-and-morty-transcript.csv'}

In [65]:
for show_name in show_path_dict:
    print(show_name, show_path_dict[show_name])

HIMYM ../data/HIMYM-transcript.csv
spongebob ../data/spongebob-transcript.csv
seinfeld ../data/seinfeld-transcript.csv
simpsons ../data/simpsons-transcript.csv
big-bang-theory ../data/big-bang-theory-transcript.csv
friends ../data/friends-transcript.csv
southpark ../data/southpark-transcript.csv
rick-and-morty ../data/rick-and-morty-transcript.csv

## SpongeBob Data Cleaning

In [155]:
# import spongebob dataset
sponge_path = "../data/spongebob-transcript.csv"
spng = pd.read_csv(sponge_path, index_col=0)
spng['show'] = "SpongeBob SquarePants";
# Remove NA values
spng = spng.dropna()

In [3]:
# Define function to clean data
def remove_stage_directives(text):
    # removes all [] and the text inside them -- Lazy regex call
    text = re.sub(r"\[.*?\]", '', text)
    # removes all () and the text inside them -- Lazy regex call
    text = re.sub(r"\(.*?\)", '', text)
    return text

def remove_html_formatting(text):
    # removes all '\n' & '\b' lines
    text = re.sub("\n", "", text)
    text = re.sub("\b", "", text)
    text = re.sub("\r", "", text)
    text = re.sub("\xe6", "", text)
    text = re.sub("\xe5", "", text)
    text = re.sub("\xca", "", text)
    text = re.sub("\xcd", "'", text)
    text = re.sub("\xefe", "i'", text)
    text = re.sub("\x84", "i'", text)
    # BBT exclusive
    text = re.sub("\x89\xdb\xaa", "'", text)
    text = re.sub("\x89\xdb_", "", text)
    return text

In [157]:
spng['line'] = spng.line.apply(remove_stage_directives)
spng['line'] = spng.line.apply(remove_html_formatting)
spng['character'] = spng.character.apply(remove_stage_directives)
spng['character'] = spng.character.apply(remove_html_formatting)

In [167]:
grouped = spng.groupby(by=['character'])

In [185]:
# Sort 
spng.groupby('character').count().sort(['line'], ascending=False).head(5)

/Users/markmiller21/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

           episode  line  season  show
character
SpongeBob     7116  7116    7116  7116
Patrick       2984  2984    2984  2984
Squidward     2716  2716    2716  2716
Mr. Krabs     2683  2683    2683  2683
Plankton       945   945     945   945

In [183]:
# Mr. Krabs had his name spelled a few different way Krabs, Mr Krabs, & Mr. Krabs
spng.loc[spng['character'] == 'Krabs', 'character'] = 'Mr. Krabs'
spng.loc[spng['character'] == 'Mr Krabs', 'character'] = 'Mr. Krabs'

In [187]:
spng_char_list = ['Sandy', 'Plankton', 'Mr. Krabs', 'Squidward', 'Patrick', 'SpongeBob']

In [188]:
spng_clean = spng[spng['character'].isin(spng_char_list)]

In [4]:
# returns the characters in the line
def calculate_character_length(text):
    return len(text)

# returns the words in the line
def word_count(text):
    return len(text.split())

In [209]:
spng_clean['characters_spoken'] = spng_clean.line.apply(calculate_character_length)
spng_clean['words_spoken'] = spng_clean.line.apply(word_count)

/Users/markmiller21/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/markmiller21/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [211]:
spng_clean.to_csv("spongebob-clean-transcript.csv", encoding='utf-8')

## RIck and Morty Data Scrubbing

In [394]:
# import Rick and Morty dataset
rm_path = "../data/rick-and-morty-transcript.csv"
rick_n_morty = pd.read_csv(rm_path, index_col=0)
rick_n_morty['show'] = "Rick and Morty";
# Remove NA values
rick_n_morty = rick_n_morty.dropna()

In [395]:
rick_n_morty.loc[1].line

"Summer:\xe6Hurry up Morty, Grampa's about to unfreeze time. You know you really should be cleaning from top to bottom."

In [396]:
# Remove odd formatting
rick_n_morty['line'] = rick_n_morty.line.apply(remove_stage_directives)
rick_n_morty['line'] = rick_n_morty.line.apply(remove_html_formatting)

In [397]:
# Add line function to eliminate invalid lines
def add_line(line_list):
    if len(line_list) > 1:
        return line_list[1]

In [398]:
# Split the line column into 2 columns (character & line)
char_line = rick_n_morty.line.apply(lambda x: x.split(':'))
rick_n_morty['character'] = char_line.apply(lambda x: x[0])
rick_n_morty['line'] = char_line.apply(add_line)

In [399]:
len(rick_n_morty)

2656

In [400]:
rick_n_morty = rick_n_morty[rick_n_morty.line.notnull()]
len(rick_n_morty)

1946

In [401]:
rick_n_morty.loc[4609].line

' Did he just say \xf1musical reality show\xee?'

In [402]:
rick_n_morty.head()

,episode,season,line,show,character
index,,,,,
1,1,2,"Hurry up Morty, Grampa's about to unfreeze tim...",Rick and Morty,Summer
3,1,2,"I know how to vacuum Mom and Dad, Summer, I've...",Rick and Morty,Morty
5,1,2,Then you've been doing itwrongfor six months. ...,Rick and Morty,Summer
7,1,2,It's not my fault we froze time on a humid day!,Rick and Morty,Morty
9,1,2,"You have dropped so many balls, man. Do you ev...",Rick and Morty,Summer

In [403]:
# Due to the small amount of data we have for rick and morty we are transforming alternate universe Rick & Morty
# Given the alternate reality theory in the show this actaully is in line with the plot

# Rick Alternatives
rick_n_morty.loc[rick_n_morty['character'] == 'All Ricks', 'character'] = 'Rick'
rick_n_morty.loc[rick_n_morty['character'] == 'Rick 30', 'character'] = 'Rick'
rick_n_morty.loc[rick_n_morty['character'] == 'Rick 2', 'character'] = 'Rick'
rick_n_morty.loc[rick_n_morty['character'] == 'Rick 1', 'character'] = 'Rick'
rick_n_morty.loc[rick_n_morty['character'] == 'Rick ', 'character'] = 'Rick'

# Morty Alternatives
rick_n_morty.loc[rick_n_morty['character'] == 'All Mortys', 'character'] = 'Morty'
rick_n_morty.loc[rick_n_morty['character'] == 'Morty 30', 'character'] = 'Morty'
rick_n_morty.loc[rick_n_morty['character'] == 'Morty 2', 'character'] = 'Morty'
rick_n_morty.loc[rick_n_morty['character'] == 'Morty 1', 'character'] = 'Morty'
rick_n_morty.loc[rick_n_morty['character'] == 'Morty ', 'character'] = 'Morty'

# other character alternates
rick_n_morty.loc[rick_n_morty['character'] == 'All Summers', 'character'] = 'Summer'
rick_n_morty.loc[rick_n_morty['character'] == 'Summer 2', 'character'] = 'Summer'
rick_n_morty.loc[rick_n_morty['character'] == 'Summer 1', 'character'] = 'Summer'
rick_n_morty.loc[rick_n_morty['character'] == 'Summer ', 'character'] = 'Summer'
rick_n_morty.loc[rick_n_morty['character'] == 'Beth ', 'character'] = 'Beth'
rick_n_morty.loc[rick_n_morty['character'] == 'Simulation Beth', 'character'] = 'Beth'
rick_n_morty.loc[rick_n_morty['character'] == 'Jerry ', 'character'] = 'Beth'
rick_n_morty.loc[rick_n_morty['character'] == 'Other Jerry', 'character'] = 'Jerry'

# Print to see result
rick_n_morty.groupby('character').count().sort_values(by=['line'], ascending=False).head(5)

           episode  season  line  show
character
Rick           479     479   479   479
Morty          363     363   363   363
Jerry          194     194   194   194
Beth           118     118   118   118
Summer         101     101   101   101

In [404]:
# Calculate characters used and words used per line
rick_n_morty['characters_spoken'] = rick_n_morty.line.apply(calculate_character_length)
rick_n_morty['words_spoken'] = rick_n_morty.line.apply(word_count)

In [413]:
rick_n_morty.head()

,episode,season,line,show,character,characters_spoken,words_spoken
index,,,,,,,
1,1,2,"Hurry up Morty, Grampa's about to unfreeze tim...",Rick and Morty,Summer,107,19
3,1,2,"I know how to vacuum Mom and Dad, Summer, I've...",Rick and Morty,Morty,76,16
5,1,2,Then you've been doing itwrongfor six months. ...,Rick and Morty,Summer,71,13
7,1,2,It's not my fault we froze time on a humid day!,Rick and Morty,Morty,47,11
9,1,2,"You have dropped so many balls, man. Do you ev...",Rick and Morty,Summer,103,20

In [406]:
rnm_char_list = ['Rick', 'Morty', 'Jerry', 'Summer', 'Beth']

In [258]:
# gee_guys_i_dont_know = pd.DataFrame(rick_n_morty.line.str.split(':',1).tolist(), columns = ['character','line', 'episode', 'season'])

In [224]:
# gee_guys_i_dont_know = gee_guys_i_dont_know.dropna()

In [259]:
# gee_guys_i_dont_know

In [407]:
rnm_clean = rick_n_morty[rick_n_morty['character'].isin(rnm_char_list)]

In [408]:
rnm_clean.head()

,episode,season,line,show,character,characters_spoken,words_spoken
index,,,,,,,
1,1,2,"Hurry up Morty, Grampa's about to unfreeze tim...",Rick and Morty,Summer,107,19
3,1,2,"I know how to vacuum Mom and Dad, Summer, I've...",Rick and Morty,Morty,76,16
5,1,2,Then you've been doing itwrongfor six months. ...,Rick and Morty,Summer,71,13
7,1,2,It's not my fault we froze time on a humid day!,Rick and Morty,Morty,47,11
9,1,2,"You have dropped so many balls, man. Do you ev...",Rick and Morty,Summer,103,20

In [412]:
rnm_clean.to_csv("rick-and-morty-clean-transcript.csv")

# Simpsons cleaning

In [421]:
# import Simpsons dataset
simp_path = "../data/simpsons-transcript.csv"
simpsons = pd.read_csv(simp_path, index_col=0)
simpsons['show'] = "Simpsons";
# Remove NA values
simpsons = simpsons.dropna()

In [423]:
# Remove non-speaking lines
print("lines before", len(simpsons))
simpsons = simpsons[simpsons.speaking_line == True]
print("lines after ", len(simpsons))

132062
109005

In [425]:
simpsons.head()

,episode_id,number,speaking_line,character,line,word_count,show
id,,,,,,,
9549.0,32.0,209.0,True,Miss Hoover,no actually it was a little of both sometimes ...,31.0,Simpsons
9550.0,32.0,210.0,True,Lisa Simpson,wheres mr bergstrom,3.0,Simpsons
9551.0,32.0,211.0,True,Miss Hoover,i dont know although id sure like to talk to h...,22.0,Simpsons
9552.0,32.0,212.0,True,Lisa Simpson,that life is worth living,5.0,Simpsons
9553.0,32.0,213.0,True,Edna Krabappel-Flanders,the polls will be open from now until the end ...,33.0,Simpsons

In [430]:
simp_char = ["Homer Simpson", "Marge Simpson", "Bart Simpson", "Lisa Simpson"]

In [448]:
simpsons.groupby('character').count().sort_values(by=['line'], ascending=False).head(5)

,episode_id,number,speaking_line,line,word_count,show
character,,,,,,
Homer Simpson,23067,23067,23067,23067,23067,23067
Marge Simpson,10729,10729,10729,10729,10729,10729
Bart Simpson,10595,10595,10595,10595,10595,10595
Lisa Simpson,9051,9051,9051,9051,9051,9051
C. Montgomery Burns,2490,2490,2490,2490,2490,2490

In [431]:
simpsons_clean = simpsons[simpsons['character'].isin(simp_char)]

In [447]:
simpsons_clean.head()

,episode_id,character,line,show,characters_spoken,words_spoken
id,,,,,,
9550.0,32.0,Lisa Simpson,wheres mr bergstrom,Simpsons,19,3
9552.0,32.0,Lisa Simpson,that life is worth living,Simpsons,25,5
9556.0,32.0,Bart Simpson,victory party under the slide,Simpsons,29,5
9558.0,32.0,Lisa Simpson,mr bergstrom mr bergstrom,Simpsons,25,4
9560.0,32.0,Lisa Simpson,do you know where i could find him,Simpsons,34,8

In [433]:
# remove superflious columns
simpsons_clean = simpsons_clean.drop(['number', 'speaking_line', 'word_count'], 1)

In [435]:
# Calculate characters used and words used per line
simpsons_clean['characters_spoken'] = simpsons_clean.line.apply(calculate_character_length)
simpsons_clean['words_spoken'] = simpsons_clean.line.apply(word_count)

In [442]:
simpsons_clean.head()

,episode_id,character,line,show,characters_spoken,words_spoken
id,,,,,,
9550.0,32.0,Lisa Simpson,wheres mr bergstrom,Simpsons,19,3
9552.0,32.0,Lisa Simpson,that life is worth living,Simpsons,25,5
9556.0,32.0,Bart Simpson,victory party under the slide,Simpsons,29,5
9558.0,32.0,Lisa Simpson,mr bergstrom mr bergstrom,Simpsons,25,4
9560.0,32.0,Lisa Simpson,do you know where i could find him,Simpsons,34,8

In [440]:
simpsons_clean.to_csv("simpsons-clean-transcript.csv")

# Seinfield Data Scrubbing

In [5]:
seinfeld_path = "../data/seinfeld-transcript.csv"
snfld = pd.read_csv(seinfeld_path, index_col=0)
snfld['show'] = "Seinfeld";
# Remove NA values
snfld = snfld.dropna()

In [6]:
snfld.head()

,character,episode,line,season,show
index,,,,,
0,"\r\r\r<!--\rgoogle_ad_client = ""ca-pub-4355410...",1,Comedy club],1,Seinfeld
1,[Scene,1,Pete's luncheonette. Jerry and George are sit...,1,Seinfeld
2,GEORGE,1,Are you through? [kind of irritated],1,Seinfeld
3,JERRY,1,"You do of course try on, when you buy?",1,Seinfeld
4,GEORGE,1,"Yes, it was purple, I liked it, I don't actua...",1,Seinfeld

In [7]:
# Remove odd formatting
snfld['character'] = snfld.character.apply(remove_stage_directives)
snfld['character'] = snfld.character.apply(remove_html_formatting)
snfld['line'] = snfld.line.apply(remove_stage_directives)
snfld['line'] = snfld.line.apply(remove_html_formatting)

In [8]:
snfld.head()

,character,episode,line,season,show
index,,,,,
0,"<!--google_ad_client = ""ca-pub-435541037146534...",1,Comedy club],1,Seinfeld
1,[Scene,1,Pete's luncheonette. Jerry and George are sit...,1,Seinfeld
2,GEORGE,1,Are you through?,1,Seinfeld
3,JERRY,1,"You do of course try on, when you buy?",1,Seinfeld
4,GEORGE,1,"Yes, it was purple, I liked it, I don't actua...",1,Seinfeld

1.0

In [9]:
snfld.groupby('character').count().sort_values(by=['line'], ascending=False).head(4)

           episode  line  season  show
character
JERRY         5198  5198    5198  5198
Jerry         4152  4152    4152  4152
GEORGE        3434  3434    3434  3434
George        2821  2821    2821  2821

In [13]:
# Some transcripts had all caps for names
snfld.loc[snfld['character'] == 'JERRY', 'character'] = 'Jerry'
snfld.loc[snfld['character'] == 'GEORGE', 'character'] = 'George'
snfld.loc[snfld['character'] == 'ELAINE', 'character'] = 'Elaine'
snfld.loc[snfld['character'] == 'KRAMER', 'character'] = 'Kramer'

# Print to see result
snfld.groupby('character').count().sort_values(by=['line'], ascending=False).head(4)

           episode  line  season  show
character
Jerry         9350  9350    9350  9350
George        6255  6255    6255  6255
Elaine        5015  5015    5015  5015
Kramer        4145  4145    4145  4145

In [14]:
# Seinfeld character array
snfld_list = ["Jerry", "George", "Elaine", "Kramer"]

In [15]:
# only save lines from main characters
snfld_clean = snfld[snfld['character'].isin(snfld_list)]

In [16]:
# Calculate characters used and words used per line
snfld_clean['characters_spoken'] = snfld_clean.line.apply(calculate_character_length)
snfld_clean['words_spoken'] = snfld_clean.line.apply(word_count)

/Users/markmiller21/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/markmiller21/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
snfld_clean.head(200)

,character,episode,line,season,show,characters_spoken,words_spoken
index,,,,,,,
2,George,1,Are you through?,1,Seinfeld,18,3
3,Jerry,1,"You do of course try on, when you buy?",1,Seinfeld,39,9
4,George,1,"Yes, it was purple, I liked it, I don't actua...",1,Seinfeld,95,14
5,Jerry,1,"Oh, you don't recall?",1,Seinfeld,22,4
6,George,1,"Uh, no, not at this time.",1,Seinfeld,41,6
7,Jerry,1,"Well, senator, I just like to know, what you ...",1,Seinfeld,87,15
9,George,1,"Are, are you sure this is decaf? Where's the ...",1,Seinfeld,63,11
10,Jerry,1,"Can you relax, it's a cup of coffee, Claire i...",1,Seinfeld,86,13
11,George,1,How come you're not doin' the second show tom...,1,Seinfeld,52,9
12,Jerry,1,"Well, there's this uh, woman might be comin' in.",1,Seinfeld,49,9
13,George,1,"Wait a second, wait a second, what coming in,...",1,Seinfeld,85,14
14,Jerry,1,"I told you about Laura, the girl I met in Mic...",1,Seinfeld,52,11
15,George,1,"No, you didn't!",1,Seinfeld,16,3
16,Jerry,1,"I thought I told you about it, yes, she teach...",1,Seinfeld,163,29
17,George,1,"Wait wait wait, what is she, what is she like?",1,Seinfeld,48,10
18,Jerry,1,"Oh, she's really great. I mean, she's got lik...",1,Seinfeld,286,42
19,George,1,"So, ya know, what, what happened?",1,Seinfeld,35,6
20,Jerry,1,"Oh, nothing happened, ya know, but is was great.",1,Seinfeld,49,9
21,George,1,"Oh, nothing happened, but it was...",1,Seinfeld,36,6
22,Jerry,1,Yeah.,1,Seinfeld,6,1
23,George,1,This is great!,1,Seinfeld,15,3
24,Jerry,1,Yeah.,1,Seinfeld,6,1
25,George,1,"So, ya know, she calls and says she wants to ...",1,Seinfeld,113,20
26,Jerry,1,"Yeah, well...not exactly. I mean, she said, y...",1,Seinfeld,179,28
27,George,1,"Ho ho ho, ""Had to""? ""Had to co...",1,Seinfeld,53,9
28,Jerry,1,"Yeah, but...",1,Seinfeld,13,2
29,George,1,"""Had to come in"" and ""maybe we'll get togethe...",1,Seinfeld,85,13
30,Jerry,1,Yeah!,1,Seinfeld,6,1
31,Jerry,1,"What, are you serious...why, why did she call?",1,Seinfeld,48,8
32,George,1,"How do I know, maybe, ya know, maybe she want...",1,Seinfeld,75,13
...,...,...,...,...,...,...,...
206,Elaine,2,"Yeah, you met her when we were going out.",1,Seinfeld,42,9
207,Jerry,2,"Oh yeah, right...",1,Seinfeld,18,3
208,Elaine,2,"You have *no* idea who I'm talking about, do ...",1,Seinfeld,50,10
209,Jerry,2,No.,1,Seinfeld,5,1
210,Elaine,2,Blonde hair remember? Glasses? Have you *tot...,1,Seinfeld,73,8
211,Jerry,2,Riverside Drive.,1,Seinfeld,17,2
212,Elaine,2,"Right! In fact... No, never mind...",1,Seinfeld,36,6
213,Jerry,2,"Well, what is it?",1,Seinfeld,18,4
214,Elaine,2,"Well, a bunch of people are getting together ...",1,Seinfeld,82,12
215,Jerry,2,"Wait a second, wait a second. We could work o...",1,Seinfeld,82,14
216,Elaine,2,What little deal?,1,Seinfeld,18,3
217,Jerry,2,"I will go to that, if you go with me to a lit...",1,Seinfeld,81,16
218,Elaine,2,"A *wedding*!? Have you *lost* it, man?",1,Seinfeld,39,7
219,Jerry,2,"Y'know, my parents are coming in for this...",1,Seinfeld,45,8
220,Elaine,2,They're coming in?,1,Seinfeld,19,3
221,Jerry,2,"Yeah, tomorrow.",1,Seinfeld,16,2
222,Elaine,2,"Hey, did your father ever get that hair weave?",1,Seinfeld,47,9
223,Jerry,2,"No, no... Still doin' the big *sweep* across.",1,Seinfeld,46,8
224,Elaine,2,Why does he do that?,1,Seinfeld,21,5
225,Jerry,2,Doesn't think anyone can tell?,1,Seinfeld,31,5
226,Jerry,2,"So c'mon, do we have a deal?",1,Seinfeld,29,7
227,Elaine,2,A *wedding*?,1,Seinfeld,13,2
228,Jerry,2,There's a lot of people to mock...,1,Seinfeld,35,7
229,Elaine,2,"Alright, what the Hell.",1,Seinfeld,24,4
230,Jerry,2,Great!,1,Seinfeld,7,1
232,Elaine,2,"C'mon lets go, c'mon...",1,Seinfeld,24,4
233,Jerry,2,Was I supposed to bring something?,1,Seinfeld,35,6
234,Elaine,2,You could have.,1,Seinfeld,16,3
235,Jerry,2,I met her *one* time...,1,Seinfeld,24,5
236,Elaine,2,It is not necessary.,1,Seinfeld,21,4

In [480]:
snfld_clean.to_csv("seinfeld-clean-transcript.csv")

# Friends Datascraping

In [501]:
# import Friends dataset
frnds_path = '../data/friends-transcript.csv'
frnds = pd.read_csv(frnds_path, index_col=0)
frnds['show'] = "Friends";
# Remove NA values
frnds = frnds.dropna()

In [502]:
frnds.head()

,character,episode,line,season,show
index,,,,,
0,Monica,1,There's nothing to tell! He's just some guy\r...,1,Friends
1,Joey,1,"C'mon, you're going out with the guy! There's...",1,Friends
2,Chandler,1,"All right Joey, be\rnice.�� So does he have a...",1,Friends
3,Phoebe,1,"Wait, does he eat chalk?",1,Friends
4,Phoebe,1,"Just, 'cause, I don't want her to go through\...",1,Friends

In [538]:
# Remove odd formatting
frnds['character'] = frnds.character.apply(remove_stage_directives)
frnds['character'] = frnds.character.apply(remove_html_formatting)
frnds['line'] = frnds.line.apply(remove_stage_directives)
frnds['line'] = frnds.line.apply(remove_html_formatting)

In [511]:
# Calculate characters used and words used per line
frnds['characters_spoken'] = frnds.line.apply(calculate_character_length)
frnds['words_spoken'] = frnds.line.apply(word_count)

In [512]:
frnds.head()

,character,episode,line,season,show,characters_spoken,words_spoken
index,,,,,,,
0,Monica,1,There's nothing to tell! He's just some guyI ...,1,Friends,56,10
1,Joey,1,"C'mon, you're going out with the guy! There's...",1,Friends,80,13
2,Chandler,1,"All right Joey, benice. So does he have a hum...",1,Friends,72,15
3,Phoebe,1,"Wait, does he eat chalk?",1,Friends,25,5
4,Phoebe,1,"Just, 'cause, I don't want her to go throughw...",1,Friends,79,15

In [516]:
friends_characters = ["Rachel", "Ross", "Chandler", "Monica", "Joey"]

In [515]:
frnds.groupby('character').count().sort_values(by=['line'], ascending=False).head(5)

           episode  line  season  show  characters_spoken  words_spoken
character
Rachel        7564  7564    7564  7564               7564          7564
Ross          7159  7159    7159  7159               7159          7159
Chandler      6760  6760    6760  6760               6760          6760
Monica        6752  6752    6752  6752               6752          6752
Joey          6521  6521    6521  6521               6521          6521

In [517]:
frnds_clean = frnds[frnds['character'].isin(friends_characters)]

In [523]:
frnds_clean.to_csv("friends-clean-transcript.csv")

# Big Bang Thoery

In [562]:
bbt_path = '../data/big-bang-theory-transcript.csv'
bbt = pd.read_csv(bbt_path, index_col=0)
bbt['show'] = "Big Bang Theory";
# Remove NA values
bbt = bbt.dropna()

In [563]:
bbt.head()

,character,episode,line,season,show
index,,,,,
0,Scene,1,A corridor at a sperm bank.,1,Big Bang Theory
1,Sheldon,1,So if a photon is directed through a plane wi...,1,Big Bang Theory
2,Leonard,1,"Agreed, what�۪s your point?",1,Big Bang Theory
3,Sheldon,1,"There�۪s no point, I just think it�۪s a good ...",1,Big Bang Theory
4,Leonard,1,Excuse me?,1,Big Bang Theory

In [564]:
# Remove odd formatting
bbt['character'] = bbt.character.apply(remove_stage_directives)
bbt['character'] = bbt.character.apply(remove_html_formatting)
bbt['line'] = bbt.line.apply(remove_stage_directives)
bbt['line'] = bbt.line.apply(remove_html_formatting)

In [537]:
# bbt.loc[2].line
# bbt.loc[3].line

" There's no point, I just think it's a good idea for a tee-shirt. "

In [565]:
# Calculate characters used and words used per line
bbt['characters_spoken'] = bbt.line.apply(calculate_character_length)
bbt['words_spoken'] = bbt.line.apply(word_count)

In [566]:
# Some characters had a space after thier name in the transcript
bbt.loc[bbt['character'] == 'Sheldon ', 'character'] = 'Sheldon'
bbt.loc[bbt['character'] == 'Leonard ', 'character'] = 'Leonard'
bbt.loc[bbt['character'] == 'Penny ', 'character'] = 'Penny'
bbt.loc[bbt['character'] == 'Howard ', 'character'] = 'Howard'
bbt.loc[bbt['character'] == 'Raj ', 'character'] = 'Raj'
bbt.loc[bbt['character'] == 'Amy ', 'character'] = 'Amy'

bbt.groupby('character').count().sort_values(by=['line'], ascending=False).head(6)

           episode   line  season   show  characters_spoken  words_spoken
character
Sheldon      10631  10631   10631  10631              10631         10631
Leonard       9060   9060    9060   9060               9060          9060
Penny         7089   7089    7089   7089               7089          7089
Howard        5371   5371    5371   5371               5371          5371
Raj           4183   4183    4183   4183               4183          4183
Amy           2862   2862    2862   2862               2862          2862

In [567]:
# Get the 6 most important characters (by line count)
bbt_characters = ["Sheldon", "Leonard", "Penny", "Howard", "Raj", "Amy"]

In [568]:
bbt_clean = bbt[bbt['character'].isin(bbt_characters)]

In [569]:
bbt_clean.head()

,character,episode,line,season,show,characters_spoken,words_spoken
index,,,,,,,
1,Sheldon,1,So if a photon is directed through a plane wi...,1,Big Bang Theory,280,54
2,Leonard,1,"Agreed, what's your point?",1,Big Bang Theory,27,4
3,Sheldon,1,"There's no point, I just think it's a good id...",1,Big Bang Theory,66,13
4,Leonard,1,Excuse me?,1,Big Bang Theory,11,2
6,Leonard,1,"One across is Aegean, eight down is Nabakov, ...",1,Big Bang Theory,218,32

In [571]:
bbt_clean.to_csv("big-bang-theory-clean-transcript.csv")

# Southpark Data Scrub Scrub Scrub

In [576]:
# import Southpark dataset
southpark_path = '../data/southpark-transcript.csv'
sthpark = pd.read_csv(southpark_path, index_col=0)
sthpark['show'] = "Southpark";
# Remove NA values
sthpark = sthpark.dropna()

In [578]:
sthpark['line'] = sthpark.line.apply(remove_stage_directives)
sthpark['line'] = sthpark.line.apply(remove_html_formatting)
sthpark['character'] = sthpark.character.apply(remove_stage_directives)
sthpark['character'] = sthpark.character.apply(remove_html_formatting)

In [581]:
# Calculate characters used and words used per line
sthpark['characters_spoken'] = sthpark.line.apply(calculate_character_length)
sthpark['words_spoken'] = sthpark.line.apply(word_count)

In [586]:
sthpark.groupby('character').count().sort_values(by=['line'], ascending=False).head(8)

              season  episode  line  show  characters_spoken  words_spoken
character
Cartman         9774     9774  9774  9774               9774          9774
Stan            7680     7680  7680  7680               7680          7680
Kyle            7099     7099  7099  7099               7099          7099
Butters         2602     2602  2602  2602               2602          2602
Randy           2467     2467  2467  2467               2467          2467
Mr. Garrison    1002     1002  1002  1002               1002          1002
Chef             917      917   917   917                917           917
Kenny            881      881   881   881                881           881

In [585]:
southpark_characters = ["Cartman", "Stan", "Kyle", "Butters", "Randy", "Mr. Garrison", "Chef", "Kenny"]

In [587]:
sthpark_clean = sthpark[sthpark['character'].isin(southpark_characters)]

In [588]:
sthpark_clean.to_csv("southpark-clean-transcript.csv")

# How I Met You Mother (HIMYM)

In [590]:
# import HIMYM dataset
How_I_Met_Path = '../data/HIMYM-transcript.csv'
himym = pd.read_csv(How_I_Met_Path, index_col=0)
himym['show'] = "How I Met Your Mother";
# Remove NA values
himym = himym.dropna()

In [592]:
# Remove odd formatting
himym['line'] = himym.line.apply(remove_stage_directives)
himym['line'] = himym.line.apply(remove_html_formatting)

In [594]:
# remove superflious columns
himym = himym.drop(['EpisodeId'], 1)

In [596]:
# Split the line column into 2 columns (character & line)
char_line = himym.line.apply(lambda x: x.split(':'))
himym['character'] = char_line.apply(lambda x: x[0])
himym['line'] = char_line.apply(add_line)

In [603]:
# Some characters were stored in all caps or witha a space at the end.

# extra space references
himym.loc[himym['character'] == 'Ted ', 'character'] = 'Ted'
himym.loc[himym['character'] == 'Marshall ', 'character'] = 'Marshall'
himym.loc[himym['character'] == 'Barney ', 'character'] = 'Barney'
himym.loc[himym['character'] == 'Robin ', 'character'] = 'Robin'
himym.loc[himym['character'] == 'Lily ', 'character'] = 'Lily'

# all caps references
himym.loc[himym['character'] == 'TED', 'character'] = 'Ted'
himym.loc[himym['character'] == 'MARSHALL', 'character'] = 'Marshall'
himym.loc[himym['character'] == 'BARNEY', 'character'] = 'Barney'
himym.loc[himym['character'] == 'ROBIN', 'character'] = 'Robin'
himym.loc[himym['character'] == 'LILY', 'character'] = 'Lily'

# Print to see result
himym.groupby('character').count().sort_values(by=['line'], ascending=False).head(5)

           Season  Episode  line  show
character
Ted          7052     7052  7052  7052
Barney       5100     5100  5100  5100
Marshall     4599     4599  4599  4599
Robin        4039     4039  4039  4039
Lily         3870     3870  3870  3870

In [604]:
himym_characters = ["Ted", "Barney", "Marshall", "Robin", "Lily"]

In [605]:
himym = himym[himym['character'].isin(himym_characters)]

In [608]:
# Calculate characters used and words used per line
himym['characters_spoken'] = himym.line.apply(calculate_character_length)
himym['words_spoken'] = himym.line.apply(word_count)

In [610]:
himym.head()

,Season,Episode,line,show,character,characters_spoken,words_spoken
index,,,,,,,
11,1,1,Will you marry me.,How I Met Your Mother,Marshall,20,4
12,1,1,"Yes, perfect! And then you're engaged, you po...",How I Met Your Mother,Ted,155,28
13,1,1,"Got it. Thanks for helping me plan this out, ...",How I Met Your Mother,Marshall,50,10
14,1,1,"Dude, are you kidding? It's you and Lily! I'v...",How I Met Your Mother,Ted,157,30
15,1,1,"yeah, sorry. We thought you were asleep.",How I Met Your Mother,Marshall,42,7

In [611]:
himym.to_csv("how-i-met-your-mother-clean-transcript.csv")