# The following code is used to clean the spongebob transcripts

In [56]:
# NOTE: I am making all my files as Python 3 compliant as possible.  
# This import forces all print statements to be forward compatible
# for Python 2: use print only as a function
from __future__ import print_function

In [506]:
import re # REGEX
import glob # for import
import pandas as pd
import time

In [71]:
# use glob to create a list of data filenames
data_filenames = glob.glob('../data/*.csv')

# Define list of show titles (in the same order as the data_filenames)
show_titles = ['big-bang-theory', 'friends', 'HIMYM', 'rick-and-morty', 'seinfeld', 'simpsons', 'southpark', 'spongebob']

# combine show & path to a dictionary
show_path_dict = dict(zip(show_titles, data_filenames))
show_path_dict

{'HIMYM': '../data/HIMYM-transcript.csv',
 'big-bang-theory': '../data/big-bang-theory-transcript.csv',
 'friends': '../data/friends-transcript.csv',
 'rick-and-morty': '../data/rick-and-morty-transcript.csv',
 'seinfeld': '../data/seinfeld-transcript.csv',
 'simpsons': '../data/simpsons-transcript.csv',
 'southpark': '../data/southpark-transcript.csv',
 'spongebob': '../data/spongebob-transcript.csv'}

In [72]:
# THIS DIDNT WORK AT ALL
# for show_name in show_path_dict:
#     show_name_str = show_name
#     # create a df with show name for each show in our data folder
#     show_name = pd.read_csv(show_path_dict[show_name_str], index_col=0)
#     # create a 'show' column with the proper store (will need for grouping)
#     show_name['show'] = show_name_str

In [120]:
# show_name

In [55]:
for filename in spam_filenames:
    with open(filename) as f:
        spam_text.append(f.read())

In [59]:
show_path_dict =dict(zip(show_titles, data_filenames))
print(show_path_dict)

8
8
{'HIMYM': '../data/HIMYM-transcript.csv', 'spongebob': '../data/spongebob-transcript.csv', 'seinfeld': '../data/seinfeld-transcript.csv', 'simpsons': '../data/simpsons-transcript.csv', 'big-bang-theory': '../data/big-bang-theory-transcript.csv', 'friends': '../data/friends-transcript.csv', 'southpark': '../data/southpark-transcript.csv', 'rick-and-morty': '../data/rick-and-morty-transcript.csv'}

In [65]:
for show_name in show_path_dict:
    print(show_name, show_path_dict[show_name])

HIMYM ../data/HIMYM-transcript.csv
spongebob ../data/spongebob-transcript.csv
seinfeld ../data/seinfeld-transcript.csv
simpsons ../data/simpsons-transcript.csv
big-bang-theory ../data/big-bang-theory-transcript.csv
friends ../data/friends-transcript.csv
southpark ../data/southpark-transcript.csv
rick-and-morty ../data/rick-and-morty-transcript.csv

## SpongeBob Data Cleaning

In [155]:
# import spongebob dataset
sponge_path = "../data/spongebob-transcript.csv"
spng = pd.read_csv(sponge_path, index_col=0)
spng['show'] = "SpongeBob SquarePants";
# Remove NA values
spng = spng.dropna()

In [495]:
# Define function to clean data
def remove_stage_directives(text):
    # removes all [] and the text inside them -- Lazy regex call
    text = re.sub(r"\[.*?\]", '', text)
    # removes all () and the text inside them -- Lazy regex call
    text = re.sub(r"\(.*?\)", '', text)
    return text

def remove_html_formatting(text):
    # removes all '\n' & '\b' lines
    text = re.sub("\n", "", text)
    text = re.sub("\b", "", text)
    text = re.sub("\r", "", text)
    text = re.sub("\xe6", "", text)
    text = re.sub("\xe5", "", text)
    text = re.sub("\xca", "", text)
    text = re.sub("\xcd", "'", text)
    text = re.sub("\xefe", "i'", text)
    text = re.sub("\x84", "i'", text)
    
    return text

In [157]:
spng['line'] = spng.line.apply(remove_stage_directives)
spng['line'] = spng.line.apply(remove_html_formatting)
spng['character'] = spng.character.apply(remove_stage_directives)
spng['character'] = spng.character.apply(remove_html_formatting)

In [167]:
grouped = spng.groupby(by=['character'])

In [185]:
# Sort 
spng.groupby('character').count().sort(['line'], ascending=False).head(5)

/Users/markmiller21/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

           episode  line  season  show
character
SpongeBob     7116  7116    7116  7116
Patrick       2984  2984    2984  2984
Squidward     2716  2716    2716  2716
Mr. Krabs     2683  2683    2683  2683
Plankton       945   945     945   945

In [183]:
# Mr. Krabs had his name spelled a few different way Krabs, Mr Krabs, & Mr. Krabs
spng.loc[spng['character'] == 'Krabs', 'character'] = 'Mr. Krabs'
spng.loc[spng['character'] == 'Mr Krabs', 'character'] = 'Mr. Krabs'

In [187]:
spng_char_list = ['Sandy', 'Plankton', 'Mr. Krabs', 'Squidward', 'Patrick', 'SpongeBob']

In [188]:
spng_clean = spng[spng['character'].isin(spng_char_list)]

In [208]:
# returns the characters in the line
def calculate_character_length(text):
    return len(text)

# returns the words in the line
def word_count(text):
    return len(text.split())

In [209]:
spng_clean['characters_spoken'] = spng_clean.line.apply(calculate_character_length)
spng_clean['words_spoken'] = spng_clean.line.apply(word_count)

/Users/markmiller21/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/markmiller21/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [211]:
spng_clean.to_csv("spongebob-clean-transcript.csv", encoding='utf-8')

## RIck and Morty Data Scrubbing

In [394]:
# import Rick and Morty dataset
rm_path = "../data/rick-and-morty-transcript.csv"
rick_n_morty = pd.read_csv(rm_path, index_col=0)
rick_n_morty['show'] = "Rick and Morty";
# Remove NA values
rick_n_morty = rick_n_morty.dropna()

In [395]:
rick_n_morty.loc[1].line

"Summer:\xe6Hurry up Morty, Grampa's about to unfreeze time. You know you really should be cleaning from top to bottom."

In [396]:
# Remove odd formatting
rick_n_morty['line'] = rick_n_morty.line.apply(remove_stage_directives)
rick_n_morty['line'] = rick_n_morty.line.apply(remove_html_formatting)

In [397]:
# Add line function to eliminate invalid lines
def add_line(line_list):
    if len(line_list) > 1:
        return line_list[1]

In [398]:
# Split the line column into 2 columns (character & line)
char_line = rick_n_morty.line.apply(lambda x: x.split(':'))
rick_n_morty['character'] = char_line.apply(lambda x: x[0])
rick_n_morty['line'] = char_line.apply(add_line)

In [399]:
len(rick_n_morty)

2656

In [400]:
rick_n_morty = rick_n_morty[rick_n_morty.line.notnull()]
len(rick_n_morty)

1946

In [401]:
rick_n_morty.loc[4609].line

' Did he just say \xf1musical reality show\xee?'

In [402]:
rick_n_morty.head()

,episode,season,line,show,character
index,,,,,
1,1,2,"Hurry up Morty, Grampa's about to unfreeze tim...",Rick and Morty,Summer
3,1,2,"I know how to vacuum Mom and Dad, Summer, I've...",Rick and Morty,Morty
5,1,2,Then you've been doing itwrongfor six months. ...,Rick and Morty,Summer
7,1,2,It's not my fault we froze time on a humid day!,Rick and Morty,Morty
9,1,2,"You have dropped so many balls, man. Do you ev...",Rick and Morty,Summer

In [403]:
# Due to the small amount of data we have for rick and morty we are transforming alternate universe Rick & Morty
# Given the alternate reality theory in the show this actaully is in line with the plot

# Rick Alternatives
rick_n_morty.loc[rick_n_morty['character'] == 'All Ricks', 'character'] = 'Rick'
rick_n_morty.loc[rick_n_morty['character'] == 'Rick 30', 'character'] = 'Rick'
rick_n_morty.loc[rick_n_morty['character'] == 'Rick 2', 'character'] = 'Rick'
rick_n_morty.loc[rick_n_morty['character'] == 'Rick 1', 'character'] = 'Rick'
rick_n_morty.loc[rick_n_morty['character'] == 'Rick ', 'character'] = 'Rick'

# Morty Alternatives
rick_n_morty.loc[rick_n_morty['character'] == 'All Mortys', 'character'] = 'Morty'
rick_n_morty.loc[rick_n_morty['character'] == 'Morty 30', 'character'] = 'Morty'
rick_n_morty.loc[rick_n_morty['character'] == 'Morty 2', 'character'] = 'Morty'
rick_n_morty.loc[rick_n_morty['character'] == 'Morty 1', 'character'] = 'Morty'
rick_n_morty.loc[rick_n_morty['character'] == 'Morty ', 'character'] = 'Morty'

# other character alternates
rick_n_morty.loc[rick_n_morty['character'] == 'All Summers', 'character'] = 'Summer'
rick_n_morty.loc[rick_n_morty['character'] == 'Summer 2', 'character'] = 'Summer'
rick_n_morty.loc[rick_n_morty['character'] == 'Summer 1', 'character'] = 'Summer'
rick_n_morty.loc[rick_n_morty['character'] == 'Summer ', 'character'] = 'Summer'
rick_n_morty.loc[rick_n_morty['character'] == 'Beth ', 'character'] = 'Beth'
rick_n_morty.loc[rick_n_morty['character'] == 'Simulation Beth', 'character'] = 'Beth'
rick_n_morty.loc[rick_n_morty['character'] == 'Jerry ', 'character'] = 'Beth'
rick_n_morty.loc[rick_n_morty['character'] == 'Other Jerry', 'character'] = 'Jerry'

# Print to see result
rick_n_morty.groupby('character').count().sort_values(by=['line'], ascending=False).head(5)

           episode  season  line  show
character
Rick           479     479   479   479
Morty          363     363   363   363
Jerry          194     194   194   194
Beth           118     118   118   118
Summer         101     101   101   101

In [404]:
# Calculate characters used and words used per line
rick_n_morty['characters_spoken'] = rick_n_morty.line.apply(calculate_character_length)
rick_n_morty['words_spoken'] = rick_n_morty.line.apply(word_count)

In [413]:
rick_n_morty.head()

,episode,season,line,show,character,characters_spoken,words_spoken
index,,,,,,,
1,1,2,"Hurry up Morty, Grampa's about to unfreeze tim...",Rick and Morty,Summer,107,19
3,1,2,"I know how to vacuum Mom and Dad, Summer, I've...",Rick and Morty,Morty,76,16
5,1,2,Then you've been doing itwrongfor six months. ...,Rick and Morty,Summer,71,13
7,1,2,It's not my fault we froze time on a humid day!,Rick and Morty,Morty,47,11
9,1,2,"You have dropped so many balls, man. Do you ev...",Rick and Morty,Summer,103,20

In [406]:
rnm_char_list = ['Rick', 'Morty', 'Jerry', 'Summer', 'Beth']

In [258]:
# gee_guys_i_dont_know = pd.DataFrame(rick_n_morty.line.str.split(':',1).tolist(), columns = ['character','line', 'episode', 'season'])

In [224]:
# gee_guys_i_dont_know = gee_guys_i_dont_know.dropna()

In [259]:
# gee_guys_i_dont_know

In [407]:
rnm_clean = rick_n_morty[rick_n_morty['character'].isin(rnm_char_list)]

In [408]:
rnm_clean.head()

,episode,season,line,show,character,characters_spoken,words_spoken
index,,,,,,,
1,1,2,"Hurry up Morty, Grampa's about to unfreeze tim...",Rick and Morty,Summer,107,19
3,1,2,"I know how to vacuum Mom and Dad, Summer, I've...",Rick and Morty,Morty,76,16
5,1,2,Then you've been doing itwrongfor six months. ...,Rick and Morty,Summer,71,13
7,1,2,It's not my fault we froze time on a humid day!,Rick and Morty,Morty,47,11
9,1,2,"You have dropped so many balls, man. Do you ev...",Rick and Morty,Summer,103,20

In [412]:
rnm_clean.to_csv("rick-and-morty-clean-transcript.csv")

# Simpsons cleaning

In [421]:
# import Simpsons dataset
simp_path = "../data/simpsons-transcript.csv"
simpsons = pd.read_csv(simp_path, index_col=0)
simpsons['show'] = "Simpsons";
# Remove NA values
simpsons = simpsons.dropna()

In [423]:
# Remove non-speaking lines
print("lines before", len(simpsons))
simpsons = simpsons[simpsons.speaking_line == True]
print("lines after ", len(simpsons))

132062
109005

In [425]:
simpsons.head()

,episode_id,number,speaking_line,character,line,word_count,show
id,,,,,,,
9549.0,32.0,209.0,True,Miss Hoover,no actually it was a little of both sometimes ...,31.0,Simpsons
9550.0,32.0,210.0,True,Lisa Simpson,wheres mr bergstrom,3.0,Simpsons
9551.0,32.0,211.0,True,Miss Hoover,i dont know although id sure like to talk to h...,22.0,Simpsons
9552.0,32.0,212.0,True,Lisa Simpson,that life is worth living,5.0,Simpsons
9553.0,32.0,213.0,True,Edna Krabappel-Flanders,the polls will be open from now until the end ...,33.0,Simpsons

In [430]:
simp_char = ["Homer Simpson", "Marge Simpson", "Bart Simpson", "Lisa Simpson"]

In [448]:
simpsons.groupby('character').count().sort_values(by=['line'], ascending=False).head(5)

,episode_id,number,speaking_line,line,word_count,show
character,,,,,,
Homer Simpson,23067,23067,23067,23067,23067,23067
Marge Simpson,10729,10729,10729,10729,10729,10729
Bart Simpson,10595,10595,10595,10595,10595,10595
Lisa Simpson,9051,9051,9051,9051,9051,9051
C. Montgomery Burns,2490,2490,2490,2490,2490,2490

In [431]:
simpsons_clean = simpsons[simpsons['character'].isin(simp_char)]

In [447]:
simpsons_clean.head()

,episode_id,character,line,show,characters_spoken,words_spoken
id,,,,,,
9550.0,32.0,Lisa Simpson,wheres mr bergstrom,Simpsons,19,3
9552.0,32.0,Lisa Simpson,that life is worth living,Simpsons,25,5
9556.0,32.0,Bart Simpson,victory party under the slide,Simpsons,29,5
9558.0,32.0,Lisa Simpson,mr bergstrom mr bergstrom,Simpsons,25,4
9560.0,32.0,Lisa Simpson,do you know where i could find him,Simpsons,34,8

In [433]:
# remove superflious columns
simpsons_clean = simpsons_clean.drop(['number', 'speaking_line', 'word_count'], 1)

In [435]:
# Calculate characters used and words used per line
simpsons_clean['characters_spoken'] = simpsons_clean.line.apply(calculate_character_length)
simpsons_clean['words_spoken'] = simpsons_clean.line.apply(word_count)

In [442]:
simpsons_clean.head()

,episode_id,character,line,show,characters_spoken,words_spoken
id,,,,,,
9550.0,32.0,Lisa Simpson,wheres mr bergstrom,Simpsons,19,3
9552.0,32.0,Lisa Simpson,that life is worth living,Simpsons,25,5
9556.0,32.0,Bart Simpson,victory party under the slide,Simpsons,29,5
9558.0,32.0,Lisa Simpson,mr bergstrom mr bergstrom,Simpsons,25,4
9560.0,32.0,Lisa Simpson,do you know where i could find him,Simpsons,34,8

In [440]:
simpsons_clean.to_csv("simpsons-clean-transcript.csv")

# Seinfield Data Scrubbing

In [443]:
seinfeld_path = "../data/seinfeld-transcript.csv"
snfld = pd.read_csv(seinfeld_path, index_col=0)
snfld['show'] = "Seinfeld";
# Remove NA values
snfld = snfld.dropna()

In [444]:
snfld.head()

,character,episode,line,season,show
index,,,,,
0,"\r\r\r<!--\rgoogle_ad_client = ""ca-pub-4355410...",1,Comedy club],1,Seinfeld
1,[Scene,1,Pete's luncheonette. Jerry and George are sit...,1,Seinfeld
2,GEORGE,1,Are you through? [kind of irritated],1,Seinfeld
3,JERRY,1,"You do of course try on, when you buy?",1,Seinfeld
4,GEORGE,1,"Yes, it was purple, I liked it, I don't actua...",1,Seinfeld

In [454]:
# Remove odd formatting
snfld['character'] = snfld.character.apply(remove_stage_directives)
snfld['character'] = snfld.character.apply(remove_html_formatting)
snfld['line'] = snfld.line.apply(remove_stage_directives)
snfld['line'] = snfld.line.apply(remove_html_formatting)

In [457]:
snfld.head()

,character,episode,line,season,show
index,,,,,
0,"\r\r\r<!--\rgoogle_ad_client = ""ca-pub-4355410...",1,Comedy club],1,Seinfeld
1,[Scene,1,Pete's luncheonette. Jerry and George are sit...,1,Seinfeld
2,GEORGE,1,Are you through?,1,Seinfeld
3,JERRY,1,"You do of course try on, when you buy?",1,Seinfeld
4,GEORGE,1,"Yes, it was purple, I liked it, I don't actua...",1,Seinfeld

1.0

In [ ]:
rick_n_morty = rick_n_morty[rick_n_morty.line.notnull()]

In [466]:
snfld.groupby('character').count().sort_values(by=['line'], ascending=False).head(4)

           episode  line  season  show
character
Jerry         9350  9350    9350  9350
George        6255  6255    6255  6255
Elaine        5015  5015    5015  5015
Kramer        4145  4145    4145  4145

In [464]:
# Some transcripts had all caps for names
snfld.loc[snfld['character'] == 'JERRY', 'character'] = 'Jerry'
snfld.loc[snfld['character'] == 'GEORGE', 'character'] = 'George'
snfld.loc[snfld['character'] == 'ELAINE', 'character'] = 'Elaine'
snfld.loc[snfld['character'] == 'KRAMER', 'character'] = 'Kramer'
snfld.loc[snfld['character'] == 'NEWMAN ', 'character'] = 'Newman'

# Print to see result
snfld.groupby('character').count().sort_values(by=['line'], ascending=False).head(5)

           episode  line  season  show
character
Jerry         9350  9350    9350  9350
George        6255  6255    6255  6255
Elaine        5015  5015    5015  5015
Kramer        4145  4145    4145  4145
[Setting       297   297     297   297

In [465]:
# Seinfeld character array
snfld_list = ["Jerry", "George", "Elaine", "Kramer", "Newman"]

In [481]:
# only save lines from main characters
snfld_clean = snfld[snfld['character'].isin(snfld_list)]

In [476]:
# Calculate characters used and words used per line
snfld_clean['characters_spoken'] = snfld_clean.line.apply(calculate_character_length)
snfld_clean['words_spoken'] = snfld_clean.line.apply(word_count)

In [479]:
snfld_clean.head()

,character,episode,line,season,show,characters_spoken,words_spoken
index,,,,,,,
2,George,1,Are you through?,1,Seinfeld,18,3
3,Jerry,1,"You do of course try on, when you buy?",1,Seinfeld,39,9
4,George,1,"Yes, it was purple, I liked it, I don't actua...",1,Seinfeld,96,14
5,Jerry,1,"Oh, you don't recall?",1,Seinfeld,22,4
6,George,1,"Uh, no, not at \r this time.",1,Seinfeld,42,6

In [480]:
snfld_clean.to_csv("seinfeld-clean-transcript.csv")

# Friends Datascraping

In [501]:
# import Friends dataset
frnds_path = '../data/friends-transcript.csv'
frnds = pd.read_csv(frnds_path, index_col=0)
frnds['show'] = "Friends";
# Remove NA values
frnds = frnds.dropna()

In [502]:
frnds.head()

,character,episode,line,season,show
index,,,,,
0,Monica,1,There's nothing to tell! He's just some guy\r...,1,Friends
1,Joey,1,"C'mon, you're going out with the guy! There's...",1,Friends
2,Chandler,1,"All right Joey, be\rnice.�� So does he have a...",1,Friends
3,Phoebe,1,"Wait, does he eat chalk?",1,Friends
4,Phoebe,1,"Just, 'cause, I don't want her to go through\...",1,Friends

In [507]:
# Remove odd formatting

start = time.time()
frnds['character'] = frnds.character.apply(remove_stage_directives)
frnds['character'] = frnds.character.apply(remove_html_formatting)
frnds['line'] = frnds.line.apply(remove_stage_directives)
frnds['line'] = frnds.line.apply(remove_html_formatting)
end = time.time()
print(end - start)

1.5857629776

In [499]:
frnds.loc[28].line

' Fine! Be murky!'